{%extends "base.html" %}
{% block title %}Token Sent{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="">Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <!-- {{ password_reset_form}} -->
        <button class="btn" type="submit"><a href="done/">Send email</a></button>
    </form>
    </div> 
{% endblock %}