{%extends "base.html" %}
{% block title %}Token Sent{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="">Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <!-- {{ password_reset_form}} -->
        <button class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" type="submit"><a href="done/">Send email</a></button>
    </form>
    </div> 
{% endblock %}