{%extends "base.html" %}
{% block title %}Change Done{% endblock %}
{% block content %}
    <div class="container">
        <h2>Password reset complete</h2>
        <hr>
        <p>Your password has been set. You may go ahead and log in now.</p> 
        <br/>                
        <a href="/login" class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Log in</a>
    </div>
    <!--  -->
{% endblock %}